@include establish-baseline();

body {
  // @include debug-vertical-alignment();
  font-family: $font-family;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: $header-font-color;
  font-family: $header-font-family;
}

p {
  margin: 1.5em 0;
  color: $font-color;
  font-family: $font-family;
}

a {
  color: $primary;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $accent;
  }
}

$typographic-element: (
  h1: (
    $ms-up-4,
    $ms-small-up-4
  ),

  h2: (
    $ms-up-3,
    $ms-small-up-3
  ),

  h3: (
    $ms-up-2
    $ms-small-up-2
  ),

  h4: (
    $ms-up-1,
    $ms-small-up-1
  ),

  h5: (
    $ms-up,
    $ms-up
  ),

  h6: (
    $ms-0,
    $ms-0
  ),

  p: (
    $ms-0,
    $ms-0
  ),
);

@each $element, $size in $typographic-element {
  #{$element} {
    @include adjust-font-size-to( nth($size, 1) );

    @media only screen and (max-width: 1024px) {
      @include adjust-font-size-to( nth($size, 2) );
    }
  }
}
