@include establish-baseline();

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: $header-font-color;
}

p {
  margin: 1.5em 0;
  color: $font-color;
}

$typographic-element: (
  h1: (
    $ms-up-3,
    $ms-small-up-3
  ),

  h2: (
    $ms-up-2,
    $ms-small-up-2
  ),

  h3: (
    $ms-up-1
    $ms-small-up-1
  ),

  h4: (
    $ms-up,
    $ms-small-up
  ),

  h5: (
    $ms-base,
    $ms-base
  ),

  h6: (
    $ms-down,
    $ms-small-down
  ),

  p: (
    $ms-base,
    $ms-small-base
  ),
);

@each $element, $size in $typographic-element {
  #{$element} {
    @include adjust-font-size-to( nth($size, 1) );

    @media only screen and (max-width: 1024px) {
      @include adjust-font-size-to( nth($size, 2) );
    }
  }
}

body {
  @include debug-vertical-alignment();
}
