// Colors
$dark-primary: #0288D1;
$primary: #03A9F4;
$light-primary: #B3E5FC;
$accent: #FFC107;
$primary-text: #212121;
$secondary-text: #727272;
$divider: #B6B6B6;
$bg-color: rgba(255,255,255,0.6);
$link-hover: scale-color($accent, $lightness: -28%);

// Typography
$font-family: 'Roboto', sans-serif;
$header-font-family: 'Oswald', sans-serif;
$font-color: $primary-text;
$header-font-color: $primary-text;

$base-font-size: 16px;
$base-small-font-size: 16px;
$base-line-height: 24px;

$ms-base: $base-font-size;
$ms-small-base: $base-small-font-size;

$ms-ratio: $augmented-fourth;
$ms-small-ratio: $major-third;

$ms-up-4: ms(5);
$ms-up-3: ms(4);
$ms-up-2: ms(3);
$ms-up-1: ms(2);
$ms-up:   ms(1);
$ms-0: $ms-base;

$ms-small-up-4: ms(5, $ms-base, $ms-small-ratio);
$ms-small-up-3: ms(4, $ms-base, $ms-small-ratio);
$ms-small-up-2: ms(3, $ms-base, $ms-small-ratio);
$ms-small-up-1: ms(2, $ms-base, $ms-small-ratio);
$ms-small-up:   ms(1, $ms-base, $ms-small-ratio);
$ms-0: $ms-base;
