header nav {
  padding: 1.5em;
  position: fixed;
  top: 0; right: 0; left: 0;
  background-color: $bg-color;
  text-align: right;
  z-index: 10;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin-left: 1rem;
      display: inline-block;

      &.current a {
        color: $link-hover;
        cursor: default;
        pointer-events: none;
        text-decoration: underline;
      }
    }
  }

  a {
    @include adjust-font-size-to(25px);
    font-family: $header-font-family;
    font-weight: 400;
    transition: color 300ms;
  }

  @media only screen and (max-width: 30em) {
    padding: 0.5em;

    ul {
      text-align: center;

      li {
        margin: 0 0.25rem;
      }
    }
  }
}
