%header{role: "banner"}
  %nav{role: "navigation"}
    %ul
      %li{nav_active("about.html")}
        = link_to "About", "about.html"
      %li{nav_active("photos.html")}
        = link_to "Photos", "photos.html"
      %li{nav_active("code.html")}
        = link_to "Code", "code.html"
