body.about {
  main {
    height: 100%;
    position: relative;
    text-align: center;
  }

  article {
    padding: 0 1em;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
  }

  @media only screen and (max-width: 30em) {
    article {
      padding-top: 9em;
      position: relative;
      top: 0; left: 0;
      transform: none;
    }
  }
}
