body.code {
  .projects {
    max-width: 85%;
    margin: 6em auto 3em;
    text-align: center;

    h5 {
      font-weight: 400;
    }

    p {
      font-style: italic;
    }
  }

  .project {
    margin-bottom: 2.3125em;

    a, .info {
      width: calc(50% - 1rem);
      display: inline-block
    }

    a {
      margin-right: 1rem;
    }

    .info {
      text-align: left;
      vertical-align: top;

      a {
        width: 100%;
        margin-bottom: 1.5rem;

        &:hover h5 {
          color: $link-hover;
        }
      }

      p {
        margin: 0;
        font-style: normal;
      }
    }
  }

  @media only screen and (max-width: 90em) {
    img {
      width: 100%;
      height: auto;
    }
  }

  @media only screen and (max-width: 50em) {
    .projects {
      text-align: left;
    }

    .project {
      margin-bottom: 3em;

      a, .info {
        width: 100%;
        display: block;
      }
    }
  }
}
