body.home {
  .text {
    padding: 1.25em 1.5em;
    position: absolute;
    right: 0; bottom: 0; left: 0;

    h1, h4 {
      color: $primary;
      display: inline-block;
    }

    h1 {
      margin-right: 1rem;
    }

    h4 {
      vertical-align: bottom;

      span {
        display: block;
      }
    }

    hr {
      margin: 0;
      border-color: $accent;
    }
  }
}
