%svg{:viewbox => "0 0 298.122 301.478", :xmlns => "http://www.w3.org/2000/svg"}
  %path{:d => "M63.51 271.653A135 147.503 30 0 1 21.626 76.447a135 147.503 30 0 1 190.357-59.71", :fill => "#03a9f4"}
  %path{:d => "M233.36 31.92a145.046 132.544-60 0 1 41.01 191.85 145.046 132.544-60 0 1-187.008 58.82", :fill => "none", :stroke => "#fff", "stroke-width" => "4.913"}
  %path{:color => "#000", :d => "M233.66 29.253c-24.64 42.57-49.2 85.192-73.787 127.796L86.158 284.725l4.45 2.348 73.572-127.54c24.677-42.447 48.986-85.237 73.747-127.633l-4.266-2.65z", :fill => "#fff", "fill-rule" => "evenodd", "font-family" => "sans-serif", :overflow => "visible", "solid-color" => "#000000", :style => "line-height:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal", "white-space" => "normal"}
  %path{:d => "M235.242 1.3l-172.5 298.777", :fill => "none", :stroke => "#ffc107", "stroke-dasharray" => "30 10", "stroke-dashoffset" => "2.5", "stroke-width" => "5"}
