---
  title: About
  body_classes: about
  meta_description:
  meta_keywords:
---

%main{role: 'main'}
  %article
    %p= lorem.paragraph
    %p= lorem.paragraph
    %p= lorem.paragraph
    %p= lorem.paragraph
    
