---
  title: About
  body_classes: about
  meta_description:
  meta_keywords:
---

%main{role: 'main'}
  %article
    %p Robert Cole is your typical robot-pretending-to-be-human. He did the college thing, got a degree, and doesn't know what to do with his life now.
    %p He likes traveling, taking pictures, and pecking at a keyboard until websites appear.
    %p He also really hates talking in third person.
    %p You can contact him at rcole42 at gmail dot com.
