---
  title: Home Page
  body_classes: home
  meta_description:
  meta_keywords:
---

%main{role: 'main'}
  %article
    = image_tag 'pikaconstruct.gif'
    -# %h1= data.page.title
    -# %p= lorem.paragraph
