---
  title: Home Page
  body_classes: home
  meta_description:
  meta_keywords:
---

%main{role: 'main'}
  %h1 Heading 1
  %h2 Heading 2
  %h3 Heading 3
  %h4 Heading 4
  %h5 Heading 5
  %h6 Heading 6
  %p= lorem.paragraph
  -# %article
  -#   = image_tag 'pikaconstruct.gif'
    -# %h1= data.page.title
    -# %p= lorem.paragraph
