---
  title: Photos
  body_classes: photos
  meta_description:
  meta_keywords:
---

%main{role: 'main'}
  %section.gallery
    %a{href: "https://placekitten.com/300/200", data: {lightbox: "photo"}}
      = image_tag("https://placekitten.com/300/200")
    %a{href: "https://placekitten.com/300/200", data: {lightbox: "photo"}}
      Image 2
    %a{href: "https://placekitten.com/300/200", data: {lightbox: "photo"}}
      Image 3
    %a{href: "https://placekitten.com/300/200", data: {lightbox: "photo"}}
      Image 4
    %a{href: "https://placekitten.com/300/200", data: {lightbox: "photo"}}
    %a{href: "https://placekitten.com/300/200", data: {lightbox: "photo"}}
    %a{href: "https://placekitten.com/300/200", data: {lightbox: "photo"}}
    %a{href: "https://placekitten.com/300/200", data: {lightbox: "photo"}}
    %a{href: "https://placekitten.com/300/200", data: {lightbox: "photo"}}
